h1(id = "editHeading")=`${birds.primary_name}`
div(class='mainCard')
     form(action="/birds/edit", method='POST' enctype="multipart/form-data" id='editForm')

        br
        label(for='pName') Primary Name
        br
        input(type='text', name='pName' class='searchbar' id='pName' value=`${birds.primary_name}` required)
        br
        label(for='sName') Scientific Name
        br
        input(type='text', name='sName' class='searchbar' id='sName' value=`${birds.scientific_name}`)
        br
        label(for='eName') English Name
        br
        input(type='text', name='eName' class='searchbar' id='eName' value=`${birds.english_name}`)
        br
        label(for='oName') Other names
        br
        input(type='text', name='oName' class='searchbar' id='oName' value='')
        br
        label(for='cStatus') Conservation Status
        br
        select(name='cStatus' class='searchbar' id='cStatus' value=`${birds.status}`)
            option(value='Not Threatened') Not Threatened 
            option Naturally Uncommon
            option(value='Relict') Relict 
            option Recovering 
            option Declining 
            option Nationally Increasing 
            option Nationally Vulnerable 
            option Nationally Endangered 
            option Nationally Critical 
            option Extinct 
            option Data Deficient

                
            
        br
        label(for='fam') Family
        br
        input(type='text', name='fam' class='searchbar' id='fam' value=`${birds.family}`)
        br
        label(for='ord') Order
        br
        input(type='text', name='ord' class='searchbar' id='ord' value=`${birds.order}`)
        br
        label(for='height') Length(cm)
        br
        input(type='number', name='height' class='searchbar' id='height' value=`${birds.size.height.value}`)
        br
        label(for='weight') Weight(g)
        br
        input(type='number', name='weight' class='searchbar' id='weight' value=`${birds.size.weight.value}`)
        br
        label(for='credit') Photo credit
        br
        input(type='text', name='credit' class='searchbar' id='credit' value=`${birds.photo.credit}`)
            
        
        img(id='uploaded_preview', src=`/images/${birds.photo.source}`, alt='Photo of')
        input(type='file' name='myFile' id='fileButton' value=`/images/${birds.photo.source}`)
            
        button(type='submit' id='editButton') Save Bird